.waste {
  transition: transform 200ms linear, opacity 200ms linear;
  transform-origin: center;
  transform-box: fill-box;
}

.waste.is-active {
  opacity: 1;
}

.waste.is-inActive {
  opacity: 0.2;
}

.resource-text__group {
  display: flex;
}

// all should be encapsulated in one specific component
// actually lots of fuckery here

.project-name {
  font-size: 32px;
  line-height: 38px;
  margin: 0 0 20px;
}

.project-description__item {
  margin: 0 0 10px;
  flex: 1 1 50%;

  .label,
  .value {
    display: block;
  }

  .label {
    font-size: 16px;
    line-height: 22px;
  }

  .value {
    // @extend %bold-font;
    font-size: 32px;
    line-height: 42px;
  }

  .unit {
    // @extend %regular-font;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
  }
}

.project-details {
  display: flex;
  flex-wrap: wrap;
}

.resource-text {
  &__title {
    margin: 0 0 10px;
    font-size: 38px;
    text-transform: uppercase;
  }

  &__group__item {
    margin-right: 20px;
  }

  &__figure-value {
    // @extend %bold-font;
    font-size: 30px;
  }

  &__figure-label {
    font-size: 14px;
  }
}

.layer--is-active {
  .icon {
    &--waste svg,
    &--desalination svg,
    &--supply svg {
      animation: spin 5s linear infinite;
      transform-origin: center;
      transform-box: fill-box;
    }
  }

  .icon--groundwater svg {
    animation: spin 10s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
}

// TODO: FIX
// const getOpacity = id => {
// 	if (typeof active !== "undefined" && active !== id) {
// 		if (active === "natural" && (id === "surface" || id === "ground")) {
// 			return "1";
// 		}
// 		return "0.5";
// 	}
// 	return "1";
// };

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
