@font-face {
	font-family: 'ZeitungMonoPro-Bold';
	src: url('../fonts/ZeitungMonoPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ZeitungMonoPro-Bold.woff2') format('woff2'),
		 url('../fonts/ZeitungMonoPro-Bold.woff') format('woff'),
		 url('../fonts/ZeitungMonoPro-Bold.ttf') format('truetype'),
		 url('../fonts/ZeitungMonoPro-Bold.svg#ZeitungMonoPro-Bold') format('svg');
}

 
@font-face {
	font-family: 'ZeitungMonoPro-Reg';
	src: url('../fonts/ZeitungMonoPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ZeitungMonoPro-Regular.woff2') format('woff2'),
		 url('../fonts/ZeitungMonoPro-Regular.woff') format('woff'),
		 url('../fonts/ZeitungMonoPro-Regular.ttf') format('truetype'),
		 url('../fonts/ZeitungMonoPro-Regular.svg#ZeitungMonoPro-Regular') format('svg');
}

%bold-font  {
	font-family: 'ZeitungMonoPro-Bold';
	font-weight: normal;
    font-style: normal;
}


%regular-font {
	font-family: 'ZeitungMonoPro-Reg';
	font-weight: normal;
    font-style: normal;
}

body {
  @extend %regular-font;
  background: #000;
  color: #FFF;
  margin: 0;
	padding: 0;
}
 
* {
  box-sizing: border-box;
}

h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

.layer,
.resources--pools {
	position: absolute;
	top: 0;
	left: 0;
	height: 1540px;
}

.layer {
	opacity: 0;
	transition: opacity 200ms linear;
	&--pools {
		opacity: 0.2;
	}
}

.layer--is-active {
	opacity: 1;
}


.pool {
	fill: #FFF;
	opacity: 0;
	transform: scale(1, 1);
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transition: transform 200ms ease-in-out, opacity 200ms linear;
}

.pool.is-active {
	opacity: 1;
	transform: scale(1.5,1.5);
}


.waste {
	transition: transform 200ms linear, opacity 200ms linear;
	transform-origin: center;
	transform-box: fill-box;
}

.waste-inner {
	animation:spin 5s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
}

.waste.is-active {
	opacity: 1;
}
.waste.is-inActive {
	opacity: 0.2;
}

@keyframes spin { 
	100% {
		transform:rotate(360deg); 
	}
}

.text-box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 380px;
	padding: 40px;
}

.text-box__header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.text-box__icon {
	width: 44px;
	height: 44px;
	display: flex;
	flex: 0 0 44px;
	margin-right: 20px;
}
.text-box__icon img {
	width: 100%;
	height: auto;
	align-items: center;
}
.text-box__title {
	font-size: 24px;
	font-weight: bold;
}

.text-box__body {
	font-size: 18px;
}

.resource-text__group {
	display: flex;
}

.resources-text {
	transition: opacity 200ms linear;
}