@import './base';
@import './map';
@import './data-viz';

.controller__sub-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.controller__section {
	margin-bottom: 90px;
	&:last-child {
		margin-bottom: 0;
	}
}

.controller__btn {
	@extend %bold-font;
	-webkit-appearance: none;
	appearance: none;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	outline: none;
	font-size: 62px;
	opacity: 0.2;
	color: #FFF;
	&--active {
		opacity: 1;
	}
}

a {
	color: #FFF;
	text-decoration: none;
}

#controller {
	width: 1366px;
	height: 1024px;
	overflow: hidden;
}

.language {
	position: absolute;
	bottom: 60px;
	left: 60px;
}

.back-btn {
	position: absolute;
	top: 40px;
	left: 60px;
}

.back-btn,
.lang-btn {
	opacity: 0.4;
	@extend %bold-font;
	font-size: 18px;
	text-transform: uppercase;
}

.lang-btn {
	margin-right: 80px;
	&.active {
		opacity: 1;
	}
}

.intro {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	align-content: center;
	font-size: 32px;

	&__section {
		text-align: center;
		flex: 0 0 50%;
	}
}

.pool {
	fill: #FFF;
	opacity: 0.7;
	transform: scale(1, 1);
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transition: transform 200ms ease-in-out, opacity 200ms linear;
	&.is-initial {
		opacity: 1;
	}
	&.is-active {
		opacity: 1;
	}
}